{% extends 'layout/basic.html'%}

{% block content%}
        <div class="col-8 offset-2 mt-1 shadow p-3 mb-5 bg-body-tertiary rounded mt-5 p-3">
            <h2 class="text-center">Сайт для практики Django.</h2>
            <div class="row py-3">
                <p class="m-2">Добрый день. Этот сайт создан для практики в написании сайтов на Djngo.</p>
                <p class="m-2">На данном сайте я буду выкладывать свои домашние работы и практические занятия.
                Также в планах дополнять контент сайта какими-то своими придуманными задачами.</p>
                <p  class="m-2">Зарегистрируйтесь на сайте, а далее выберите язык в навигационной панели для
                    просмотра тем занятий...</p>
            </div>
        </div>

{% endblock %}

