{% extends 'layout/basic.html'%}

{% load django_bootstrap5 %}
{% block title %}Вход{% endblock %}

{% block content%}
        <div class="col-8 offset-2 mt-1 shadow p-3 mb-5 bg-body-tertiary rounded mt-5 p-3">
            <h2 class="text-center">Вход</h2>
            {% if user.is_authenticated %}
            <h2 class="text-center">Вы уже выполнили вход.</h2>
            {% else %}
            <div class="row py-3">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form layout='horizontal' %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {% bootstrap_button 'Войти' %}
                </form>
            {% endif %}
            </div>
        </div>

{% endblock %}