{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Практический сайт</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'main\style.css'%}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css" rel="stylesheet">
</head>
<body class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'main:index' %}">HM Site</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'main:index' %}">Главная</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                Язык программирования</a>
              <ul class="dropdown-menu">
                  {% for language in languages %}
                    <li><a class="dropdown-item" href="{% url 'main:topic' language.id %}">{{language.language}}</a></li>
                  {% endfor%}
<!--                <li><a class="dropdown-item" href="#">Javascript</a></li>-->
<!--                <li><hr class="dropdown-divider"></li>-->
<!--                <li><a class="dropdown-item" href="#">Python</a></li>-->
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'main:other' page='about' %}">О сайте</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Профиль
              </a>
              {% if user.is_authenticated %}
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'main:profile' %}">Мой профиль</a></li>
                  <li><a class="dropdown-item" href="#">Изменить личные данные</a></li>
                  <li><a class="dropdown-item" href="#">Изменить пароль</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><form class="px-3" method="post" action="{% url 'main:logout' %}">
                      {% csrf_token %}
                      {% bootstrap_button 'Выйти' button_class='btn-danger' %}
                  </form></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Удалить профиль</a></li>
                </ul>
              {% else %}
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Регистрация</a></li>
                <li><a class="dropdown-item" href="{% url 'main:login' %}">Вход</a></li>
              </ul>
              {% endif %}
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Введите тему..." aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Поиск</button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container" style="margin-top: 80px">
        {% block content%}
        {% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    <!-- Подключение языка Python -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/python.min.js"></script>
    <script>
        // Инициализация Highlight.js
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('pre code').forEach((block) => {
                hljs.highlightBlock(block);
            });
        });
    </script>

</body>
</html>